.background{
    background-color: rgb(244, 243, 243);
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 2% 25%;
}
.edge{ 
    padding: 10px;
}

.myQuestionCardstyle{
    border-style: solid;
    border-color: rgb(239, 239, 239);
    background-color: white;
    margin-top: 15px;
    padding: 3%;
    border-width: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.cardlink{
    text-decoration: none;
}
.questiontext{
    font-weight: 700;
    font-size: 20px;
    color: green;
}

.questionInfo{
    font-size: 12px;
    text-align: end;
    color: black;
}

.dorpdowbtn{
    text-align: end;
}

.answerdisplay{
    margin: 5% 15%;
}

.askquestionbox{
    width: 500px;
    max-width: 80%;
    margin: 10% auto;
    position: fixed;
   left: 50%;
   top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: #eee;
    background: 10px 20px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column ;
    text-align: left;
    padding: 10px;
}